.container {
    height: 100%;
    padding: 2rem;
}

.header {
    height: 3rem;
    background-color: wheat;
    border-radius: 1rem;
    padding: 1px;
    text-indent: 1rem;
    font-family: hind-medium;
    cursor: context-menu;
}

.info {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
}

.description {
    flex: 70%;
    background-color: wheat;
    border-radius: 1rem;
    padding: 1px;
    margin: 2rem;
    text-align: center;
    font-family: hind-medium;
    cursor: context-menu;
    text-indent: 1rem;
}

.photo {
    flex: 30%;
    background-color: wheat;
    border-radius: 1rem;
    padding: 1px;
    margin: 2rem;
    text-align: center;
    font-family: hind-medium;
}

.left-text {
    margin: 0;
    text-align: start;
}
