<div class="container">
  <h2 class="header">
    * Quien Soy??
  </h2>
  <div class="info">
    <div class="description">
      <p>Soy Mateo Pastorini, tengo 26 años y soy programador full-stack especializado en java y angular. Estudié en la Universidad Nacional de San Martin (Unsam) y me gradue en el año 2023. Poseo conocimientos en programacion especializados en desarrollo Web.</p>
      <h4 class="left-text">Algunas de mis habilidades mas destacables son:</h4>
      <h4 class="left-text">- Angular/React.</h4>
      <h4 class="left-text">- Typescript/Javascript.</h4>
      <h4 class="left-text">- Java/Kotlin.</h4>
      <h4 class="left-text">- Bases de datos relacionales y no relacionales.</h4>
      <h4 class="left-text">- Persistencia con ORM (Springboot).</h4>
      <h4 class="left-text">- Docker.</h4>
    </div>
    <div class="photo">
      <img src="../assets/imgs/Foto.jpg" alt="photo" />
    </div>
    <nav>
      <button class="btn" (click)="navigate()">Click Here!!</button>
    </nav>
  </div>
</div>
